.signin-link {
	display: none;
}

@media only screen and (max-width: 991px) {
	.signin-link {
		display: block;
		background-color: rgb(114, 114, 114);
		padding: 0.4em;
		border-radius: 0.5em;
		color: red;
	}
}